*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}

// Wrapper
.wrapper{
	max-width: 1440px;
	margin: 0 auto;
}

// Container
.container{
	max-width: 940px;
	margin: 0 auto;
}

// Menu-logo
.menu-logo{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1rem 0;
	.logo{
		a{
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.5rem;
		color: #69B9FF;
		letter-spacing: 4px;
		}
	}
	.menu{
		a{
			color: #676770;
		}
		a:hover{
			color: #0082F3;
		}
		&__link1{
			text-decoration: none;
			margin-right: 1rem;
		}
		&__link2{
			text-decoration: none;
			margin-left: 1rem;
		}
	}
}

// Header
.header {
	background: url("../images/header.png") center no-repeat;
   background-size: cover;
   height: 80vh;
	&__content{
		display: table;
		width: 100%;
		height: 100%;
	}
	&__row{
		display: table-row;
	}
	&__cell{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
	&__center{
		max-width: 550px;
		display: inline-block;
	}
	.header__center{
			.but{
				display: flex;
				flex-wrap: wrap;
			}
			button{
				font-family:  'Open Sans', sans-serif;
				font-weight: 400;
				padding: .6rem 2rem;
				text-transform: uppercase;
				color: #fff;
				border: 1px solid #fff;
				border-radius: 2px;
				background: rgba(0, 0, 0, 0);
			}
			.sign{
				margin: 0 1.2rem 0 8rem;
			}
			button:hover{
				background-color: #69B9FF;
			}
		}
	
}
.content {
	&__title {
		font-size: 3.75rem;
		margin-bottom: 6rem;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 4px;
	}
}

// Section
.section {
	margin: 5rem 0;
	text-align: center;
	&__title {
		text-transform: uppercase;
		font-size: 2rem;
		color: #676770;
		font-weight: 400;
		letter-spacing: 5px;
	}

	&__subtitle {
		font-size: 1.1rem;
		margin-top: 1rem;
		color: #8E8E9C;
		letter-spacing: 3px;
	}

	&__blocks {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin-top: 3.5rem;
	}
}
.block {
	width: 32%;
	border: 1px solid #DCEBF7;
	img{
		width: 25%;
		margin: 2.2rem auto 1.5rem auto;
	}
	&__title {
		color: #676770;
		font-size: 1.2rem;
		letter-spacing: 7px;
		margin: 0 1rem;
	}

	&__content {
		color: #6A859C;
		font-size: 0.8rem;
		margin: .8rem 1rem 1.5rem 1rem;
	}
}

// Main
.main {
	max-width: 1440px;
	background-color: #192024;
	padding: 5rem 0;
		&__content {
			text-align: center;
			color: #fff;
		}

		&__title {
			text-transform: uppercase;
			font-size: 2rem;
			letter-spacing: 5px;
			bottom: 1rem;
		}

		&__subtitle {
			font-size: 1.1rem;
			font-weight: 400;
			margin-bottom: 5rem;
			letter-spacing: 3px;
		}

		&__blocks {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__block {
			width: 47%;
			img{
				width: 100%;
			}
		}

		&__block-title {
			text-transform: uppercase;
			letter-spacing: 7px;
			font-size: 1.25rem;
			margin: 1.25rem 0;
		}

		&__block-content {
			font-size: 0.8rem;
			line-height: 1.5rem;
		}
		&__button{
			font-size: 1rem;
			text-transform: uppercase;
			color: #fff;
			border: 1px solid #FFFFFF;
			border-radius: 4px;
			margin-top: 1rem;
			padding: 0.62rem 2rem;
			background-color: rgba(0, 0, 0, 0);
		}
}

// Main 2

.main2 {
	padding: 5rem 0 5.5rem;
	text-align: center;
		&__title {
			color: #676770;
			text-transform: uppercase;
			font-size: 2rem;
			letter-spacing: 5px;
			bottom: 1rem;
		}

		&__subtitle {
			color: #8E8E9C;
			font-size: 1.1rem;
			font-weight: 400;
			margin-bottom: 5rem;
			letter-spacing: 3px;
		}
		img{
			width: 100%;
			box-sizing: border-box;
		}
}
.tabs {
	margin-bottom: 3.3rem;
	button{
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0 0.5rem;
		padding: 1px 2rem;
		border: none;
		border-radius: 4px;
		background-color: #92A0AD;
	}
	button:hover{
		background-color: #2E80B6;
	}
}
.man {

		&__title {
			margin: 1rem 0;
			color: #676770;
			font-size: 31px;
		}

		&__subtitle {
			color: #6A859C;
			font-size: 0.8rem;
			line-height: 1.5rem;
		}
}

// Footer__nav

.footer {

	&__nav {
		display: flex;
		justify-content: space-between;
		margin: 2.5rem auto;
	}
}
.nav {

	&__block {
		width: 32%;
	}

	&__title {
		text-transform: uppercase;
		letter-spacing: 4px;
		color: #676770;
		margin-bottom: 1.5rem;
		font-size: 1.1rem;
	}

	&__subtitle {
		color: #6A859C;
		font-size: 0.8rem;
		line-height: 25px;
	}
	&__links li {
		list-style: none;
		padding: 0  0 0.5rem 0;
		margin-bottom: 0.5rem;
		border-bottom: 1px solid #000;
	}
	&__links li a{
		color: #668CAD;
		font-size: 0.8rem;
		text-decoration: none;
		display: inline-block;
	}
	&__social li {
		list-style: none;		
		padding: 0  0 0.47rem 0;
		margin-bottom: 0.47rem;
		border-bottom: 1px solid #000;
	}
	&__social .link__one::before {
		content: '';
		display: inline-block;
		height: 18px;
		width: 18px;
		background: url(../images/twitter14.png) no-repeat center center;
	}
	&__social .link__two::before {
		content: '';
		display: inline-block;
		height: 18px;
		width: 18px;
		background: url(../images/fb18.png) no-repeat center center;
	}
	&__social .link__three::before {
		content: '';
		display: inline-block;
		height: 18px;
		width: 18px;
		background: url(../images/pinterest14.png) no-repeat center center;
	}
	&__social .link__four::before {
		content: '';
		display: inline-block;
		height: 18px;
		width: 18px;
		background: url(../images/g_plus18.png) no-repeat center center;
	}
	&__social .link__five::before {
		content: '';
		display: inline-block;
		height: 18px;
		width: 18px;
		background: url(../images/mail18.png) no-repeat center center;
	}
	&__social li a{
		color: #668CAD;
		font-size: 0.8rem;
		text-decoration: none;
		display: inline-block;
		margin-left: .6rem;
	}
}
.footer {
	background-color: #383838;
	text-align: center;
	p{
		color: #9E9E9E;
		display: inline-block;
		margin: 2.5rem auto;
	}
}

// Adaptability

@media (min-width: 0px) and (max-width:474.9px){
	.wrapper{
		max-width: 457px;
	}
	.container{
		max-width: 357px;
		margin: 0 auto;
	}
	.menu-logo{
		.logo a{
			font-size: 1rem;
		}
		.menu{
			font-size: 0.8rem;
		}
	}

	// Header
	.header {
		height: 40vh;
		max-width: 28.5rem;
		&__center{
			max-width: 20rem;
			display: inline-block;
		}
		.header__center{
				.but{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
				}
				button{
					font-size: 0.8rem;
					background: rgba(0, 0, 0, 0);
				}
				.sign{
					margin: 0;
					padding: .2rem 1rem;
				}
				.learn{
					padding: .2rem 0.5rem;
				}
			}
			.content {
				&__title {
					font-size: 2.75rem;
					margin-bottom: 3rem;
				}
			}
	}
	
	// Section
	.section {
		margin: 1rem 0;
		&__title {
			font-size: 1rem;
		}

		&__subtitle {
			font-size: .8rem;
			margin-top: 1rem;
		}

		&__blocks {
			margin-top: .5rem;
		}
	}
	.block {
		width: 100%;
		border: 1px solid #DCEBF7;
		margin-bottom: 0.5rem;
		img{
			margin: .2rem auto .5rem auto;
		}
		&__title {
			font-size: 1rem;
			letter-spacing: 2px;
			margin: 0 .5rem;
		}
	}

	// Main
	.main {
		max-width: 474px;
		padding: 1rem 0;
			&__title {
				font-size: 1rem;
				margin-bottom: 0.2rem;
			}
			&__subtitle {
				font-size: 0.8rem;
				margin-bottom: 1rem;
			}
			&__blocks {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
			}

			&__block {
				width: 100%;
				margin-bottom: 1rem;
				img{
					width: 100%;
				}
			}

			&__block-title {
				font-size: 1rem;
				margin: 1rem 0;
			}

			&__block-content {
				font-size: 0.8rem;
			}
			&__button{
				padding: 0.32rem 1rem;
			}
	}

	// Main 2
	.main2 {
		padding: 1rem 0 1.5rem 0;
		text-align: center;
			&__title {
				font-size: 1rem;
				bottom: 1rem;
			}

			&__subtitle {
				font-size: .8rem;
				margin-bottom: 1rem;
			}
			img{
				width: 100%;
				box-sizing: border-box;
			}
		}
		.tabs {
			margin-bottom: 1rem;
			display: flex;
			justify-content: space-between;
			button{
				width: 32%;
				font-size: 0.5rem;
				text-transform: capitalize;
				margin: 0 0.5rem;
				padding: 0.5rem 1rem;
			}
		}
		.man {
				&__title {
					margin: .5rem 0;
					font-size: 1rem;
				}

				&__subtitle {
					font-size: 0.8rem;
					line-height: 10px;
				}
		}

	// Footer__nav
	.footer {

		&__nav {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 1rem auto;
			text-align: center;
		}
	}
	.nav {

		&__block {
			width: 100%;
			margin-bottom: 1rem;
		}

		&__block.first {
			width: 50%;
		}
		
		&__title {
			margin-bottom: 1rem;
			font-size: 1rem;
		}

		&__subtitle {
			font-size: 0.8rem;
			line-height: 15px;
		}
		&__links li {
			padding: 0;
			margin-bottom: 0.5rem;
			border-bottom: none;
		}
		&__social li {
			padding: 0;
			margin-bottom: 0.5rem;
			border-bottom: none;
		}
	}

	// Footer
	.footer {
		p{
			margin: 1rem auto;
		}
	}
}
@media (min-width: 475px) and (max-width:767.9px){
	.wrapper{
		max-width: 747px;
	}
	.container{
		max-width: 647px;
		margin: 0 auto;
	}

	// Header
	.header {
		height: 40vh;
		max-width: 46.6rem;
	}

	// Main
	.main {
		max-width: 46.6rem;
		padding: 1rem 0;
	}

	// Main 2
	.main2 {
		.man {
				&__subtitle {
					font-size: 0.8rem;
					line-height: 10px;
					line-height: 15px;
				}
		}
	}
	// Footer__nav
	.footer {

		&__nav {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 1rem auto;
			text-align: center;
		}
	}
	.nav {

		&__block {
			width: 100%;
			margin-bottom: 1rem;
		}

		&__block.first {
			width: 50%;
		}
		
		&__title {
			margin-bottom: 1rem;
			font-size: 1rem;
		}

		&__subtitle {
			font-size: 0.8rem;
			line-height: 15px;
		}
		&__links li {
			padding: 0;
			margin-bottom: 0.5rem;
			border-bottom: none;
		}
		&__social li {
			padding: 0;
			margin-bottom: 0.5rem;
			border-bottom: none;
		}
	}

	// Footer
	.footer {
		p{
			margin: 1rem auto;
		}
	}
}
@media (min-width: 776px) and (max-width:989.9px){
	.wrapper{
		max-width: 979px;
	}
	.container{
		max-width: 779px;
		margin: 0 auto;
	}
	.menu-logo{
		.logo a{
			font-size: 1.5rem;
		}
		.menu{
			font-size: 1rem;
		}
	}

	// Header
	.header {
		height: 40vh;
		max-width: 61rem;
		&__center{
			max-width: 25rem;
			display: inline-block;
		}
		.header__center{
				.but{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
				}
				button{
					font-size: 1rem;
					background: rgba(0, 0, 0, 0);
				}
				.sign{
					margin: 0;
					padding: .5rem 2rem;
				}
				.learn{
					padding: .2rem 0.5rem;
				}
			}
			.content {
				&__title {
					font-size: 3rem;
					margin-bottom: 3rem;
				}
			}
	}
	
	// Section
	.section {
		margin: 1.5rem 0;
		&__title {
			font-size: 1.5rem;
		}

		&__subtitle {
			font-size: 1rem;
			margin-top: 1rem;
		}

		&__blocks {
			margin-top: 1rem;
		}
	}
	.block {
		width: 70%;
		margin: 0 auto;
		border: 1px solid #DCEBF7;
		margin-bottom: 1rem;
		img{
			margin: .2rem auto .5rem auto;
		}
		&__title {
			font-size: 1.5rem;
			letter-spacing: 2px;
			margin: 0 .5rem;
		}
		&__content{
			font-size: 1rem;
		}
	}

	// Main
	.main {
		max-width: 61rem;
		padding: 1rem 0;
			&__title {
				font-size: 1.5rem;
				margin-bottom: 0.2rem;
			}
			&__subtitle {
				font-size: 1rem;
				margin-bottom: 1rem;
			}
			&__blocks {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
			}

			&__block {
				width: 100%;
				margin-bottom: 1rem;
				img{
					width: 100%;
				}
			}

			&__block-title {
				font-size: 1.5rem;
				margin: 1rem 0;
			}

			&__block-content {
				font-size: 1rem;
			}
			&__button{
				padding: 1rem 2rem;
				margin-bottom: 1rem;
			}
	}

	// Main 2
	.main2 {
		padding: 1.5rem 0 2rem 0;
		text-align: center;
			&__title {
				font-size: 1.5rem;
				bottom: 1.2rem;
			}

			&__subtitle {
				font-size: 1rem;
				margin-bottom: 1rem;
			}
			img{
				width: 100%;
				box-sizing: border-box;
			}
		}
		.tabs {
			margin-bottom: 1rem;
			button{
				width: 70%;
				font-size: 1rem;
				text-transform: capitalize;
				margin: .5rem 0rem;
				padding: 0.5rem 1rem;
			}
		}
		.man {
				&__title {
					margin: .5rem 0;
					font-size: 1.5rem;
				}

				&__subtitle {
					font-size: 1rem;
					line-height: 15px;
					margin: 0 2rem;
				}
		}

	// Footer__nav
	.footer {

		&__nav {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 1rem 3rem;
			text-align: center;
		}
	}
	.nav {

		&__block {
			width: 100%;
			margin-bottom: 2rem;
		}

		&__block.first {
			width: 50%;
		}
		
		&__title {
			margin-bottom: 1rem;
			font-size: 1.2rem;
		}

		&__subtitle {
			font-size: 1rem;
			line-height: 15px;
		}
		&__links li {
			padding: 0;
			margin-bottom: 1.2rem;
			border-bottom: none;
		}
		&__social li {
			padding: 0;
			margin-bottom: 0.5rem;
			border-bottom: none;
		}
	}

	// Footer
	.footer {
		p{
			margin: 1rem auto;
		}
	}
}
@media (min-width: 990px) and (max-width:1200px){
	.wrapper{
		max-width: 1180px;
	}
	.container{
		max-width: 980px;
		margin: 0 auto;
	}
	.menu-logo{
		.logo a{
			font-size: 1.5rem;
		}
		.menu{
			font-size: 1rem;
		}
	}

	// Header
	.header {
		height: 40vh;
		max-width: 73rem;
		&__center{
			max-width: 25rem;
			display: inline-block;
		}
		.header__center{
				.but{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
				}
				button{
					font-size: 1rem;
					background: rgba(0, 0, 0, 0);
				}
				.sign{
					margin: 0;
					padding: 1rem 2.5rem;
				}
				.learn{
					padding: 1rem 1rem;
				}
			}
			.content {
				&__title {
					font-size: 4rem;
					margin-bottom: 3rem;
				}
			}
	}
	
	// Section
	.section {
		margin: 1.5rem 0;
		&__title {
			font-size: 1.5rem;
		}

		&__subtitle {
			font-size: 1rem;
			margin-top: 1rem;
		}

		&__blocks {
			display: flex;
		}
	}
	.block {
		width: 32%;
		border: 1px solid #DCEBF7;
		margin-bottom: 1rem;
		img{
			margin: .2rem auto .5rem auto;
		}
		&__title {
			font-size: 1.5rem;
			letter-spacing: 2px;
			margin: 0 .5rem;
		}
		&__content{
			font-size: 1rem;
		}
	}

	// Main
	.main {
		max-width: 73rem;
		padding: 2rem 0;
			&__title {
				font-size: 2rem;
				margin-bottom: 1rem;
			}
			&__subtitle {
				font-size: 1.5rem;
				margin-bottom: 1.5rem;
			}
			&__blocks {
				display: flex;
				justify-content: space-between;
			}

			&__block {
				width: 48%;
				margin-bottom: 1rem;
				img{
					width: 100%;
				}
			}

			&__block-title {
				font-size: 1.5rem;
				margin: 1rem 0;
			}

			&__block-content {
				font-size: 1rem;
			}
			&__button{
				padding: 1rem 2rem;
				margin-bottom: 1rem;
			}
	}

	// Main 2
	.main2 {
		padding: 1.5rem 0 2rem 0;
		text-align: center;
			&__title {
				font-size: 1.5rem;
				bottom: 1.2rem;
			}

			&__subtitle {
				font-size: 1.2rem;
				margin-bottom: 1rem;
			}
			img{
				width: 100%;
				box-sizing: border-box;
			}
		}
		.tabs {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1.5rem;
			button{
				width: 32%;
				font-size: 1rem;
				text-transform: capitalize;
				margin: .5rem 0rem;
				padding: 0.5rem 1rem;
			}
		}
		.man {
				&__title {
					margin: .5rem 0;
					font-size: 2rem;
				}

				&__subtitle {
					font-size: 1.2rem;
					line-height: 20px;
					margin: 0 2rem;
				}
		}

	// Footer__nav
	.footer {

		&__nav {
			display: flex;
			justify-content: space-between;
			margin: 1rem 3rem;
		}
	}
	.nav {

		&__block {
			width: 32%;
			margin-bottom: 2rem;
		}

		&__block.first {
			width: 32%;
		}
		
		&__title {
			margin-bottom: 1rem;
			font-size: 1.5rem;
		}

		&__subtitle {
			font-size: 1.2rem;
			line-height: 20px;
		}
		&__links li {
			padding: 0  0 0.47rem 0;
			margin-bottom: 0.47rem;
			border-bottom: 1px solid #000;
		}
		&__links li a{
			font-size: 1rem;
		}
		&__social li {
			padding: 0  0 0.37rem 0;
			margin-bottom: 0.47rem;
			border-bottom: 1px solid #000;
		}
		&__social li a{
			font-size: 1rem;
			text-decoration: none;
			display: inline-block;
		}
	}

	// Footer
	.footer {
		p{
			margin: 2rem auto;
		}
	}
}